In [36]:
from mysql import connector

In [64]:
try:
    con = connector.connect(
      host="localhost",
      user="root",
      password=""
    )
except connector.Error as e:
    print("Could't connect MySQL database")
    print(e)

In [65]:
print(con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000011515FAD010>

In [70]:
try:
    curr=con.cursor()
    curr.execute('''CREATE DATABASE IF NOT EXISTS School;''')
except:
    print("Couldn't create database.")
finally:
    status=curr.close()
    print(f"Connection close status : {status}")

Couldn't create database.
Connection close status : False

In [74]:
try:
    con.close()
except connector.Error as e:
    print(e)

In [75]:
try:
    con = connector.connect(
      host="localhost",
      user="root",
      password="",
      database="School"
        
    )
except connector.Error as e:
    print("Could't connect MySQL database")
    print(e)

In [80]:
try:
    curr=con.cursor()
    curr.execute('''CREATE TABLE IF NOT EXISTS Student(
                studentId INT(5),
                studentName VARCHAR(25),
                age INT(3), 
                gender VARCHAR(5), 
                subject VARCHAR(6), 
                marks INT(3));''')
except:
    print("Couldn't create table.")
finally:
    status=curr.close()
    print(f"Connection close status : {status}")

Connection close status : True

In [81]:
try:
    curr=con.cursor()
    curr.execute('''INSERT INTO Student VALUES
                    (1, "Kamal", 18, "Male", "English", 86);''')
except:
    print("couldn't insert values.")
finally:
    curr.close()

In [82]:
curr.close()
con.close()